@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(225, 255, 180);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(85, 133, 85);
}

.basico {
    color: rgb(85, 133, 85);
}

.intermediario {
    color: rgb(130, 133, 85);
}

.avancado {
    color: rgb(133, 85, 85);
}

.destaque {
    background-color: rgb(219, 219, 72);
}