body {
    background: rgb(114, 152, 223);
    font: normal 15pt Arial;
}

header {
    color: rgb(13, 18, 22);
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.445);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: rgb(24, 27, 31);
    text-align: center;
    font-style: italic;
}